<mat-table [dataSource]="clientes" aria-label="Lista clientes">
        
    <!-- ID Column -->
    <ng-container matColumnDef="idCliente">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{ cliente.idCliente }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{ cliente.name }} </mat-cell>
    </ng-container>

    <!-- Idade Column -->
    <ng-container matColumnDef="idade">
        <mat-header-cell *matHeaderCellDef> Idade </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{ cliente.idade }} </mat-cell>
    </ng-container>

    <!-- Cidade Column -->
    <ng-container matColumnDef="cidade">
        <mat-header-cell *matHeaderCellDef> Cidade </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{ cliente.cidade }} </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="categoria">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let cliente"> {{ cliente.categoria }} 
            <mat-icon aria-hidden="false" aria-label="Categoria do cliente" fontIcon="{{cliente.categoria | category}}"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="coluna-def">
            <button class="coluna-def-header" mat-mini-fab color="primary" 
            aria-label="Adicionar cliente" (click)="onAdicionar()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let cliente" class="coluna-def">
            <button mat-icon-button color="accent" 
            aria-label="Editar cliente" (click)="onEditar(cliente)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" 
            aria-label="Remover cliente" (click)="onRemover(cliente)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
