<mat-card>
    <mat-toolbar color="primary">Lista de Clientes</mat-toolbar>
    
    <div *ngIf="clientes$ | async as clientes; else loadingspinner">
        <table mat-table [dataSource]="clientes" class="mat-elevation-z8" aria-label="Lista clientes">
        
            <!-- ID Column -->
            <ng-container matColumnDef="idCliente">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let cliente"> {{ cliente.idCliente }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let cliente"> {{ cliente.name }} </td>
            </ng-container>
        
            <!-- Idade Column -->
            <ng-container matColumnDef="idade">
                <th mat-header-cell *matHeaderCellDef> Idade </th>
                <td mat-cell *matCellDef="let cliente"> {{ cliente.idade }} </td>
            </ng-container>
        
            <!-- Cidade Column -->
            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef> Cidade </th>
                <td mat-cell *matCellDef="let cliente"> {{ cliente.cidade }} </td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let cliente"> {{ cliente.categoria }} 
                    <mat-icon aria-hidden="false" aria-label="Categoria do cliente" fontIcon="{{cliente.categoria | category}}"></mat-icon>
                </td>
            </ng-container>
        
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" aria-label="Adicionar cliente" (click)="onAdicionar()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let cliente">
                    <button mat-icon-button color="accent" aria-label="Editar cliente">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" aria-label="Remover cliente">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

        <ng-template #loadingspinner>
            <div class="loading-spinner">
                <mat-spinner style="width: 50px;"></mat-spinner>
            </div>
        </ng-template>

</mat-card>
  