mat-card {
    width: 80%;
    margin: 3em auto;
}

.loading-spinner {
    padding: 25px;
    background-color: rgba(0, 100, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
